# Java Environment
## CMD
set JAVA_HOME=C:\Program Files\Java\jdk-17
set Path=%JAVA_HOME%\bin;%Path%

### Status
echo %JAVA_HOME%
echo %Path%
java -version
javac -version

## PowerShell
$env:JAVA_HOME = "C:\Program Files\Java\jdk-17"
$env:Path = "$env:JAVA_HOME\bin;" + $env:Path

### Status
$env:JAVA_HOME
$env:Path
java -version
javac -version